body {
    width: 350px;
    margin: 0px;
    padding: 0px;
}

.help{
    text-align: right;
}

.help img{
    height: 15px;
    opacity: .6;
    padding: 2px;
}

.hidden{
    display: none !important;
}


#preview {
    /* hide url in picture */
    clip-path:inset(0 0 11px 0);
    margin-bottom: -11px;
}
